page-post-detalhe {

}
.dado{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
table, tr, td{
    border: solid 1px black;
    padding: 0px 15px;
}

p{
    font-size: 20pt;
}
.divBtn{
	text-align: center;
}
#tr3{ visibility: hidden;}
input{
	font-size: 20pt;
}